body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(99, 43, 99);
}

#wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width:300px;
}
#wrap div{
    box-shadow: 1px 1px 10px #000;
    height: 100%;
}
#wrap :nth-child(2){
    font-size: 50px;
    padding: 20px;
    background-color: palevioletred;
    color: #fff;
    text-shadow: 1px 0px 5px rgb(13, 255, 1);
    font-weight: bold;
    position: relative;
}

#wrap :nth-child(2)::after{
    content: '🎄🎄🎄🎄👐👈👌🌏';
    display: block;
    position: absolute;
    left: 0;
    top: -70px;

}
#wrap .btn {
    border: none;
    background-color: #fff;
    box-shadow: 0px 0 20px plum,
        0px 0 50px plum,
        0px 0 90px plum,
        0px 0 190px plum;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 110px;
    top: 49px;
    border-radius: 50%;
    color: powderblue;
    font-size: 30px;
}